# Global
node_modules/
!server/node_modules/.prisma/
.env
.env.production
.env.local
.DS_Store
*.log
Thumbs.db
.vscode/
.idea/

# Server Specific
server/node_modules/
server/dist/
server/.env
server/uploads/*
!server/uploads/.gitkeep
server/logs/
server/prisma/*.db
!server/prisma/dev.db
server/prisma/*.db-journal

# Frontend Specific
react-app/node_modules/
react-app/.env
!react-app/.env.production
!react-app/dist/

# PM2
.pm2/
*.pid
ecosystem.config.js.bak
